* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Satoshi', sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  height: 980px;
}
.profile-column{
  width: 50%;
  display:flex;
}

.site-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;
  max-width:540px;
  height: 431px;
  margin: 252px 113px 297px 103px;
}

.top-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  max-width: 496px;
  height: 164px;
  margin: 0px 44px 32px 0px;
  gap: 29px;
}

.profile {
  width: 303px;
  height: 113px;
  }

  .profile-img {
    height: 164px;
    width: 164px;
    border-radius: 50%;
  }

h1 {
    color: #79c2d0;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    }

h2 {
    font-weight: 900;
    font-size: 30px;
    line-height: 43px;
    }

h3 {
    font-weight: 500;
    font-size: 22px;
    color: #596e79;
}

.profile-info {
    max-width: 500px;
    Height: 145px;
    Top: 196px;
    margin: 0px 0px 58px 44px;
}  
    
p {
  font-family: EB Garamond;
    font-size: 22px;
    font-weight: 400;
    line-height: 28.71px;
}

.social-media {
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin: 0px 0px 0px 44px;
  align-self: flex-start;
}

.social-icon:hover {
 filter: brightness(0%)
}

/* Section with logo */
.TBL-section {
    width: 50%;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.TBL-img {
  margin-bottom: 200px;
}

  /* Tech-section */
  .tech {
    background-color: #f0ece2;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

h4 {
  font-weight: 700;
  font-size: 80px;
  line-height: 108px;
}
  .tech h4 {
    color: #596e79;
  }

  .tech-knowledge {
    width: 500px;
    height: 91px;
    margin-left: 143px;
    align-content: center;
    line-height: 32px;
    }

    .tech-knowledge span:nth-child(1){
      background: #c7b198;
      color: white;
    }

    .tech-knowledge span:nth-child(2){
      background: #ff847c;
      color: white;
    }

    .tech-knowledge span:nth-child(3){
      background: #79c2d0;
      color: white;
    }

/* Featured projects */
    .featured-projects {
      margin-top: 120px;
      align-items: center;
    }

    .articles {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .featured-projects h4 {
      color:#596e79;
      margin-bottom: 40px;
    }

    .project {
      max-width: 820px;
      height: 280px;
      display: flex;
      flex-direction: row;
      gap: 40px;
      margin-bottom: 120px;
    }

  h5{
      font-size: 32px;
      font-weight: 900;
      margin-bottom: 12px;
      line-height: 43.2px;
    }

    .project p {
      margin-bottom: 24px;
    }

    .blackBtn{
      font-size: 16px;
      font-weight: 500;
      gap: 4px;
      margin-bottom: 40px;
    }

   .blackBtn span{
      background: black;
      color: white;
      padding: 2px 6px;
    }

    .buttons {
      display: flex;
      flex-direction: row;
      gap: 24px;
    }

    .liveBtn {
      gap: 7px;
      font-size: 20px;
      font-weight: 500;
      border-radius: 40px;
      width: 164px;
      height: 48px;
      display: flex;
      flex-direction: row;
      align-items: center;
      border: none;
    }

    .liveBtn:hover {
      background-color: #ff847c;
    }

    .githubBtn {
      gap: 7px;
      font-size: 20px;
      font-weight: 500;
      border-radius: 40px;
      width: 164px;
      height: 48px;
      display: flex;
      flex-direction: row;
      align-items: center;
      border: none;
    }

    .githubBtn:hover {
      background-color:#79c2d0;
    }

/* My words */
    .my-words {
      background-color: #f0ece2;
      display: flex;
      flex-direction: column;
    }

    .article-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 98px;
    margin-bottom: 276px;
    }

    .my-words h4{
     color:#ff847c;
     margin: 120px 1080px 79px 143px;
    }

    .my-words-box {
      max-width: 564px;
      height: 709px;
    }
    
h6 {
  font-weight: 900;
  font-size: 20px;
  line-height: 27px;
  color: #ff847c;
}

.readMoreBtn {
  gap: 7px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 40px;
  width: 178px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
}

.readMoreBtn:hover {
  background-color: #596e79;
}

.skills {
  height: 802px;
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: black;

}
.skills h4 {
  margin: 120px 0px 79px 0px;
}

.skills-container {
  display: flex;
  flex-direction: row;
  gap: 66px;
}

.skills-list {
  list-style-type: none;
}

.code {
  background-color: #ff847c;
  width: 65px;
  padding: 2px;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
  color: white;
}

.toolbox {
  background-color: #79c2d0;
  width: 92px;
  padding: 2px;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
  color: white;
}

.upcoming {
  background-color: #c7b198;
  width: 120px;
  padding: 2px;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
  color: white;
}

li {
  font-family: EB Garamond;
    font-size: 22px;
    font-weight: 400;
    line-height: 28.71px;
    color: white;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1178px;
}

footer h4{
  color: #c7b198;
  margin-top: 196px;
}

.bottom-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 164px;
  margin: 75px 44px 32px 0px;
  gap: 29px;
}

.social-media-bottom {
  display: flex;
  flex-direction: row;
  gap: 32px;
  max-width: 288px;
  margin-top: 175px;
}

/* TABLET */
@media (min-width: 668px) and (max-width: 1024px) {
  header {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}
.TBL-section{
  height: 412px;
  width:100%;
}
.TBL-img{
  max-height: fit-content;
}

.profile-column{
  width:100%;
}
/* Tech-section */
.tech {
  background-color: #f0ece2;
  width: 100%;
  flex-direction: column;
  gap: 60px;
}

.site-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;
  max-width:540px;
  height: 431px;
  /* margin: 252px 113px 297px 103px; */
}
.project {
  width: fit-content;
  block-size: fit-content;
}

.my-words h4 {
  margin: 120px 0px 53px 89px;
}
    .article-container {
      flex-direction: column;
      align-items: center;
      margin: none;
     
    }


}

/* MOBILE */
@media (max-width: 667px) {

}