body {
    display: flex;
    margin: 0;
    padding: 0;
    font-family: 'Satoshi', sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.site-info {
    width: 50%;
    display: flex;
    align-items: center;
    margin: 102px;
  }

  h3 {
    font-style: normal;
  }

.TBL-section {
    width: 50%;
    height: 980px;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.profile-img {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    margin: 0px 15px 15px 0px;
}
header {
    display:flex;
}

  .logo-img {
    height: 412px;
    max-width:100%;
  }

  .social-media {
    width: 70%;
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
    margin-left: 40px;
  }

  .social-icon:hover {
   filter: brightness(0%)
  }
