* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    font-family: 'Satoshi', sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  min-height: 980px;
}

.profile-column {
  width: 50%;
  display:flex;
}

.site-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 252px 113px 297px 103px;
  width: fit-content;
  block-size: fit-content;
  /* border: solid 2px aqua; */
}

.top-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  max-width: 496px;
  min-height: 164px;
  margin: 0px 44px 32px 0px;
  gap: 29px;
}

.profile {
  width: 303px;
  min-height: 113px;
}

.profile-img {
  min-height: 164px;
  width: 164px;
  object-fit: cover;
  border-radius: 50%;
}

h1 {
  color: #79c2d0;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}

h2 {
  font-weight: 900;
  font-size: 30px;
  line-height: 43px;
}

h3 {
  font-weight: 500;
  font-size: 22px;
  color: #596e79;
}

.profile-info {
  max-width: 500px;
  height: 145px;
  Top: 196px;
  margin: 0px 0px 58px 44px;
}  
    
p {
  font-family: Garamond;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
}

.social-media {
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin: 0px 0px 0px 44px;
  align-self: flex-start;
}

.social-icon:hover {
  filter: brightness(0%);
  cursor:pointer;
}

/* Section with logo */
.TBL-section {
  width: 50%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.TBL-img {
  margin-bottom: 200px;
}

/* Tech-section */
.tech {
  background-color: #f0ece2;
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 143px;
}

h4 {
  font-weight: 700;
  font-size: 80px;
  line-height: 108px;
}

.tech h4 {
  color: #596e79;
}

.tech-knowledge {
  width: 500px;
  height: 91px;
  align-content: center;
  line-height: 32px;
}

.tech-knowledge span:nth-child(1){
  background: #c7b198;
  color: white;
}

.tech-knowledge span:nth-child(2){
  background: #ff847c;
  color: white;
}

.tech-knowledge span:nth-child(3){
  background: #79c2d0;
  color: white;
}

/* Featured projects */
.featured-projects {
  margin-top: 120px;
  padding: 0px 346px 0px 346px;
}

.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content; 
  block-size: fit-content;
  /* border: solid 2px aqua; */
}

.featured-projects h4 {
  color:#596e79;
  margin-bottom: 40px;
}

.project {
  height: 280px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-bottom: 120px;
  width: fit-content;
  block-size: fit-content;
  /* border: solid 2px pink; */
}

h5{
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 12px;
  line-height: 43.2px;
}

.project p {
  margin-bottom: 24px;
}

.blackSpan {
  font-size: 16px;
  font-weight: 500;
  gap: 4px;
  margin-bottom: 40px;
}

.blackSpan span {
  background: black;
  color: white;
  padding: 2px 6px;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.buttons a {
  text-decoration: none;
}

.liveBtn, .githubBtn{
  gap: 7px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 40px;
  width: 164px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  cursor:pointer;
  color: black;
  background-color: #F5F5F5;
}

.liveBtn:hover {
  background-color: #ff847c;
  color: white;
}
.githubBtn:hover {
  background-color:#79c2d0;
  color: white;
}

.liveBtn:hover img, .githubBtn:hover img {
  filter: brightness(500%);
}


/* My words */
.my-words {
  background-color: #f0ece2;
  display: flex;
  flex-direction: column;
  padding: 0px 143px 0px 143px;
}

.article-container {
  display: flex;
  flex-direction: row; 
  gap: 98px;
  margin-bottom: 276px;
  width: 100%;
}

.my-words h4{
  color:#ff847c;
  margin: 120px 0px 79px 0px;
}

.my-words-box {
  max-width: 564px;
  height: 709px;
  width: 49%;
}

.my-words-img {
  width:100%;
  height: 340px;
}

.my-words-text {
  overflow-wrap: break-word;
}
    
h6 {
  font-weight: 900;
  font-size: 20px;
  line-height: 27px;
  color: #ff847c;
}

.readMoreBtn {
  gap: 7px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 40px;
  max-width: 178px;
  max-height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 16px 0px 0px;
  border: none;
  cursor:pointer;
  margin-top: 24px;
}

.readMoreBtn:hover {
  background-color: #596e79;
  color: white;
}

.readMoreBtn:hover img{
  filter: brightness(500%);
}

/* Skills-section */
.skills {
  max-height: fit-content;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  gap: 79px;
  padding: 121px 0px 218px 0px;
}

.skills h4 {
  color: white;
}

.skills-container {
  display: flex;
  flex-direction: row;
  gap: 66px;
}

.skills-list {
  list-style-type: none;
}

.code {
  background-color: #ff847c;
  width: 65px;
  padding: 2px;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
  color: white;
}

.toolbox {
  background-color: #79c2d0;
  width: 92px;
  padding: 2px;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
  color: white;
}

.upcoming {
  background-color: #c7b198;
  width: 120px;
  padding: 2px;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
  color: white;
}

li {
  font-family: Garamond;
  font-size: 22px;
  font-weight: 400;
  line-height: 28.71px;
  color: white;
}

/* Time to talk-section */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 1178px;
}

footer h4{
  color: #c7b198;
  margin-top: 196px;
}

.bottom-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-height: 164px;
  margin: 75px 0px 32px 0px;
  gap: 29px;
}

.social-media-bottom {
  display: flex;
  flex-direction: row;
  gap: 32px;
  max-width: 288px;
  margin: 175px 0px 168px 0px;
}
/* -------------------------------- */
@media (max-width: 1280px) {
  .profile-column{
    width: 50%;
  }
  .site-info{
   padding: 252px 55px 297px 45px;
    margin: unset;
  }
  .TBL-section{
    width: 50%;
  }

  .my-words {
    padding: 0px 84px 0px 84px;
    /* max-width: fit-content; */
  }
  .my-words-img{
    object-fit: cover;
  }

  .article-container {
    gap: 32px;
  }

  .my-words-text {
    overflow-wrap: break-word;
  }
}
/* -------------------------------- */
/* TABLET */
@media (max-width: 1024px) {
  header {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: unset;
  }

  .profile-column {
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: unset;
  }

  .TBL-section{
    height: 412px;
    width: 100%;
  }
  .TBL-img{
    max-height: fit-content;
    margin:unset;
  }

  .profile-column{
    width: unset;
  }

  /* Tech-section TABLET */
  .tech {
    flex-direction: column;
    gap: 60px;
    margin: unset;
  }

  /* Featured projects-section TABLET */
  .featured-projects{
    display: flex;
    flex-direction: column;
    padding: 0px 12px 0px 24px;
  }
  .featured-projects h4 {
    font-size: 66px;
  }

  .project {
    gap: 24px;
  }

  .projectIMG {
    max-height: 100%;
    max-width: 184px;
    object-fit: cover;
  }

  /* My words-section */
  .my-words{
    padding: unset;
    justify-content: center;
    align-items: center;
  }

  .my-words h4 {
    margin: 120px 0px 53px 0px;
    padding-right: 200px;
  }
  .article-container {
    flex-direction: column;
    margin: none;    
    align-items: center;
  }

  .my-words-box {
    width: 100%;
  }
}
/* ---------------------------- */
/* MOBILE */
@media (max-width: 668px) {
  header {
    align-items: center;
    justify-content: center;
    min-height: unset;
  }
  .TBL-section{
    display: none;
  }

  body {
    display:flex;
  }

  .profile-column{
    padding: 58px 24px 79px 24px;
    width: 100%;
  }

  .site-info {
    margin: unset;
    height:fit-content;
    padding:unset;
    width: 100%;
  }
  .top-section {
    flex-direction: column;
    padding: unset;
    height: 306px;
    margin: 29px 0px 40px 0px;
  }

  .profile-info {
    max-width: unset;
    height: unset;
    margin: 0px 0px 48px 0px;
  }

 

  /* Tech-section MOBILE */
  .tech {
    padding: 24px;
    flex-direction: column;
    gap: 60px;
    margin:unset;
    width:100%;
  }

  .tech-knowledge {
    max-width:fit-content;
  }

  /* Featured projects-section MOBILE */
  .featured-projects{
    margin: unset;
    padding: 0px 24px;
    display: flex;
    flex-direction: column;
    width:100%;
  }

  .featured-projects h4 {
    margin: 64px 0px;
  }

  .project {
    gap: 16px;
    height: 280px;
    display: flex;
    flex-direction: column;
    width: 100%;
    block-size: fit-content;
  }

  .projectIMG {
    max-width:unset;
  }

  .articles {
    width: 100%;
  }

  .buttons {
    flex-direction: column;
  }

  /* My words-section MOBILE */
  .my-words{
    padding: 0px 24px 96px 0px;
  }

  .article-container {
    flex-direction: column;
    margin: unset; 
    width:unset;
    max-width: 280px;
  }

  .my-words-box {
    align-items: center;
    margin:unset;
    height: fit-content;
  }

  .my-words h4 {
    margin: unset;
    padding-right: unset;
    font-size: 63px;
    line-height: 80px;
  }
  .my-words-img{
      width: 280px;
      height: 280px;
      object-fit: cover;
    }

  .my-words-text {
    overflow-wrap: break-word;
    margin-bottom: 24px;
  }

  .skills {
    padding: 64px 93px 137px 94px;
    max-height: fit-content;
    
  }
  .skills-container {
    flex-direction: column;
    gap: 66px;
  }
  .skills-list {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  /* Time to talk-section MOBILE */
  footer {
    padding: 120px 24px 93px 24px;
  }

  footer h4{
    font-size: 60px;
    margin:unset;

  }
  .bottom-section {
    flex-direction: column;
    justify-content: center;
    max-height: 164px;
    gap: 29px;
    margin-bottom: 120px;
  }

  .contact-info h2 {
    font-size: 24px;
    line-height: 32px;
  }

  .social-media-bottom {
    margin-top: 99px;
  }
}